<h1>Sign Up</h1>
<%= form_for @user do |f| %>
<%= f.text_field :username, placeholder: "Username", autofocus: true %>
<%= f.email_field :email, placeholder: "Email" %>
<%= f.password_field :password, placeholder: "Password" %>
<%= f.password_field :password_confirmation, placeholder: "Password Confirmation" %>
<%= f.text_field :location, placeholder: "Where You At?" %>
<%= f.submit "Sign Up" %>
<% end %>
