<div class="text-center">
</div>
<div class="container">
	<div class="row">
		<div class = "col-md-12">
			<% if current_user.posts.any? %>
				<div class="container">
					<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h2 id="profile-header">Profile</h2>
								<%= link_to "Edit Profile", edit_profile_path(@user), class: "btn btn-primary pull-right", id: "edit-profile-button" %>
								<br>	
							</div>
					</div>
				</div>
				<% current_user.posts.each do |post|  %>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="panel panel-warning">
								<div class="panel-body">
									<p>Title: <%= post.title %> <br>Body: <%= post.body %> <br></p>
								</div>
								<% if post.user.id == session[:user_id] %>
								<div class="panel-footer">
									<%= link_to "Edit Post", edit_post_path(post), class: "btn btn-primary" %>
									<%= link_to "Delete Post",  post, method: :delete, class: "btn btn-danger"  %>
								</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			<% else %>
				<div class="text-center">
					<h4>You don't have any posts!</h4>
					<br>
				</div>
			<% end %>
		</div>
	</div>
</div>
