<div class="jumbotron">
	<div class="text-center">
		<h1>Your Posts</h1>
		<div>
			<p>Welcome back <%= current_user.username %></p>		
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class = "col-md-12">
			<% if current_user.posts.any? %>
				<h2>My Posts</h3>
				<% current_user.posts.each do |post|  %>
					<div class="well">
						<h3><%= post.title %> </h3> 
						<p><%= post.body %> </p>
					</div>
					<%= link_to "Edit Post", edit_post_path(post), class: "btn btn-primary" %>
	       	<%= link_to "Delete Post", post, method: :delete, class: "btn btn-danger"  %>
				<% end %>
			<% else %>
				<div class="text-center">
					<h4>You don't have any posts!</h4>
					<br>
					<%= link_to "Add A Post", new_post_path, class: "btn btn-primary" %>
				</div>
			<% end %>
		</div>
	</div>
</div>
