<h1><%= current_user.email %></h1>
<p></p>
<div class="jumbotron">
	<div class="text-center">
		<h1>Your Profile</h1>
		<div>
			<p>Welcome back <%= current_user.username %></p>
			<%= image_tag current_user.avatar.url(:medium) %>		
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class = "col-md-12">
			<% if current_user.posts.any? %>
				<div class="container">
					<div class="row">
							<div class="col-md-8 col-md-offset-2">
								<h2>My Posts</h2>
								<br>	
							</div>
					</div>
				</div>
				<% current_user.posts.each do |post|  %>
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2">
							<div class="panel panel-warning">
								<div class="panel-heading">
									<h3 class="panel-title">Created by: <%= post.user.username %></h3>
								</div>
								<div class="panel-body">
									<p>Title: <%= post.title %> <br>Body: <%= post.body %> <br></p>
								</div>
								<% if post.user.id == session[:user_id] %>
								<div class="panel-footer">
									<%= link_to "Edit Post", edit_post_path(post), class: "btn btn-primary" %>
									<%= link_to "Delete Post",  post, method: :delete, class: "btn btn-danger"  %>
									<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% end %>
			<% else %>
				<div class="text-center">
					<h4>You don't have any posts!</h4>
					<br>
				</div>
			<% end %>
		</div>
	</div>
</div>

