<!DOCTYPE html>
<html>
<head>
	<title>Waywardly</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<!-- font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300italic' rel='stylesheet' type='text/css'>

	<%= stylesheet_link_tag :application, media: :all %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Waywardly</a>
		</div>
		<div class="collapse navbar-collapse" id="navbar-right">
			<% if logged_in? %>
				<a class="btn navbar-btn navbar-right btn-warning" href="/logout">Log out</a>
				<ul class="nav navbar-nav">
					<li class="dropdown">
			          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cities<span class="caret"></span></a>
			          <ul class="dropdown-menu">
			            <li><a href="/san-francisco">San Francisco</a></li>
			            <li><a href="/los-angeles">Los Angeles</a></li>
			            <li><a href="/boston">Boston</a></li>
			            <li><a href="/austin">Austin</a></li>
			            <li><a href="/new-orleans">New Orleans</a></li>
			          </ul>
			        </li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="navbar-header" href="/profile"><%= image_tag current_user.avatar.url(:thumb), class: "navbar-thumb" %>&nbsp&nbsp<%= current_user.username %></a></li>
				</ul>
			<% else %>
				<a class="btn navbar-btn navbar-right btn-default" href="/login">Login</a>
				<a class="btn navbar-btn navbar-right btn-primary" href="/signup">Sign Up</a>
			<% end %>
		</div>
	</div>
</nav>

	<div class="container text-center">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
		<% end %>
	</div>
	
	
		<%= yield %>





	<%= javascript_include_tag :application %>

	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	

</body>
</html>