<!DOCTYPE html>
<html>
<head>
	<title>Vagabond</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<%= csrf_meta_tags %>

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

	<%= stylesheet_link_tag :application, media: :all %>
</head>
<body>

<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Vagabond Home</a>
			<% if logged_in? %>
				<a class="btn navbar-btn navbar-right btn-warning" href="/profile">Profile</a>
			<% end %>
		</div>
		<div class="collapse navbar-collapse" id="navbar-right">
			<% if logged_in? %>
				<a class="btn navbar-btn navbar-right btn-warning" href="/logout">Log out</a>
				<ul class="nav navbar-nav navbar-right">
					<li><a class="navbar-header">Welcome, <%= current_user.username %></a></li>
				</ul>
			<% else %>
				<a class="btn navbar-btn navbar-right btn-default" href="/login">Login</a>
				<a class="btn navbar-btn navbar-right btn-primary" href="/signup">Sign Up</a>
			<% end %>
		</div>
	</div>
</nav>

	<div class="container text-center">
		<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, class: "alert #{name == 'error' ? 'alert-danger' : 'alert-info'}" %>
		<% end %>
		<%= yield %>
	</div>

	<%= javascript_include_tag :application %>

	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>